entrypoint = "index.js"
run = "npm start"
onBoot = "npm install"
language = "nodejs"

[gitHubImport]
requiredFiles = [".replit", "package.json", "index.js"]

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
build = ["sh", "-c", "npm install"]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"